<form id="messageForm">
<input type="email" id="email" placeholder="Correo">
<input type="text" id="message" placeholder="Mensaje">
<button type="button" onclick="addMessage(messageForm)"> Enviar</button>
</form>