<form id="productsForm">
<input type="text" id="title" placeholder="Title">
<input type="number" id="price" placeholder="Price">
<input type="text" id="thumbnail" placeholder="Image">
<button type="button" onclick="addProduct(productsForm)"> Enviar</button>
</form>